.agenda {
    &_list {
        flex-grow: 1;
        margin: 0;
        padding: 0;
        list-style: none;
        &-full {
            margin: 1rem 0;
            padding: 1rem 2rem;
            overflow: auto;
        }
    }
    &_day {
    }
    &_event {
        margin: .5rem 0;
    }
}