.eventRow {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: .75em 0;
    border-radius: 10px;
    grid-template-areas: 
    'time account'
    'time title';
    &:hover {
        background-color: rgba($light-color, .075);
    }
    &_time {
        font-size: 1.5em;
        font-weight: bold;
        grid-area: time;
        text-align: center;
        width: 5em;
        padding: .5em 0;
        margin-right: 2rem;
        border-right: 4px solid violet;
    }
    &_title {
        grid-area: title;
        font-size: 1.25em;
        margin: auto 0 0;
    }
    &_account {
        grid-area: account;
        font-size: 1.2em;
        color: $light-sec-color;
    }
}
