.calendar {
    display: flex;
    flex-direction: column;
    height: min-content;
    &_days {
        min-height: 0;
        width: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: min-content repeat(6, 1fr);
    }
    &_weekDay, &_monthDay {
        text-align: center;
        padding: .25em;
    }
}