@import './colors';
@import './calendar';

html, body {
    height: 100%;
    font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
    background-color: $dark-color;
    color: $light-color;
    font-size: 14px;
}

@import './blocks/agenda';
@import './blocks/app';
@import './blocks/eventRow';
@import './blocks/panel';
@import './blocks/title';