@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff');
}
@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
}

@import './colors';
@import './calendar';

html, body {
    height: 100%;
    font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
    background-color: $dark-color;
    color: $light-color;
    font-size: 14px;
}

@import './blocks/agenda';
@import './blocks/app';
@import './blocks/eventRow';
@import './blocks/panel';
@import './blocks/title';